<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body background="static/users/img/2QVVC0W]@GJ}%C)UD~NOTU7.png">
    <form action="/change_password" method="POST">
        {% csrf_token %}
        <input type='hidden' name='csrfmiddlewaretoken' value='dMWH9boU9IuPQ4OW5M6sSHVjr1i61GkTmjt3AFetTzGfPmxRvgGMDyyhK7E9ZKnk' />
        <p><label for="id_old_password">旧密码:</label> <input type="password" name="old_password" autofocus required id="id_old_password" /></p>
        <p><label for="id_new_password1">新密码:</label> <input type="password" name="new_password1" required id="id_new_password1" /> <span class="helptext"><ul><li>你的密码不能与其他个人信息太相似。</li><li>你的密码必须包含至少 8 个字符。</li><li>你的密码不能是大家都爱用的常见密码。</li><li>你的密码不能全部为数字。</li></ul></span></p>
        <p><label for="id_new_password2">新密码确认:</label> <input type="password" name="new_password2" required id="id_new_password2" /></p>
        <button type="submit">确认</button>
        <a href="/app_bar">回到主页</a>
    </form>
</body>
</html>