<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body background="static/users/img/Q][F8FK(8[1BK8YUF[X(S]A.png">
    <h1>个人中心</h1>
    <div>
        <table>
            <tr>
                <th>用户名：</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>密码：</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>邮箱地址：</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>昵称：</th>
                <td>{{ user.CommonerUser.nickname }}</td>
            </tr>
            <tr>
                <th>生日：</th>
                <td>{{ user.CommonerUser.birthday }}</td>
            </tr>
        </table>
    </div>
    <a href="/app_bar">回到主页</a>
    <a href="/edit_profile">修改个人信息</a>
    <a href="/change_password">修改密码</a>
    <a href="/logout">登出</a>
</body>
</html>


