
{% extends 'security/base.html' %}

{% block main %}
<script src="../../node_modules/axios/dist/axios.js"></script>
<script src="../../node_modules/vue/dist/vue.js"></script>
<div class="king-block king-block-bordered">
    <div class="king-block-header king-gray-light">
        <ul class="king-block-options">
            <li>
                <button type="button"><i class="fa fa-cog"></i></button>
            </li>
        </ul>
        <h3 class="king-block-title">网段IP清单</h3>
    </div>
    <div class="king-block-content">
        <form action="/business/iplen" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="inputCount3" class="col-sm-3 control-label">IP：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="IPlen" id="inputCount3" placeholder="输入要查询的IP">
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <button class="king-btn king-success mr10" @click="show">提交</button>
                    <input type="reset" class="king-btn king-default" value="取消">
                </div>
            </div>
        </form>
        <div id="app">
            <p>{{msg.contant.iplist}}</p>
            <p>{{msg.contant.ips}}</p>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        le:'#app',
        data:{
            msg:''
        },
        methods:{
            show:function(){
                axios.post("/business/iplen",{
                    userId:'101'
                },{
                    headers:{
                        token:"show"
                    }
                }).then(function(res){
                    this.msg = res.data;
                }).catch(function(error){
                    alert('出错了'+error)
                });
            }
        }
    })
</script>
{% endblock main %}